@import '../../assets/styles/mixins/mixins';

.header {
  position: relative;
  background: linear-gradient(90deg, #c02d28, #e66225);

  &__inner {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
  }

  &__wrapper {
    @include flex-align-justify;

    @media screen and (max-width: 735px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    img {
      width: 25rem;
      heigt: 4rem;
    }
  }

  &__nav {
    @media screen and (max-width: 550px) {
      display: none;
    }

    &--show {
      display: block;
    }

    // &--hide {
    //   display: none;
    // }
  }

  &__mobileMenuIcon {
    display: none !important;
    cursor: pointer;
    color: #fff;
    font-size: 4rem !important;

    @media screen and (max-width: 550px) {
      display: inline-block !important;
    }
  }

  &__diagonal {
    position: absolute;
    top: 100%;
    left: 0;
    fill: #e66225;
    height: 24px;
    width: 100%;
  }
}
