html {
  font-size: 10px; /*for using REM units*/
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
